
#container{
    display:flex;
    gap:10px;

    justify-content: space-around;
}
.k{
    height:250px;
    width: 250px;
    border: 5px solid black;
    align-items: center;
    border-radius: 10px;
}
.k:hover{
    background-color: salmon;
    text-shadow: 2px;
}